.hero{
  background: $fresh;
  height: 100vh;
  @include paragraph();
  position: relative;
  overflow: hidden;
  width: 100%;
  clear: both;
  position: relative;
  .hero-name{
    color: $darkGray;
    @include heading();
    -webkit-text-stroke: 1px $darkGray;
    -webkit-text-fill-color: transparent;


    @include breakpoint('mbl'){
      margin-top: 10em;
      font-size: 3.5em;
    }
    @include breakpoint('xsmall'){
      margin-top: 10em;
      // font-size: 3em;
      font-size: 3em;
    }
    @include breakpoint('small'){
      margin-top: 6em;
      // margin-top: 7em;
      font-size: 5em;
    }
    @include breakpoint('medium'){
      margin-top: 5em;
      font-size: 6em;
    }
    @include breakpoint('large'){
      margin-top: 3em;
      font-size: 9em;
    }
    @include breakpoint('xlarge'){
      margin-top: 2em;
      // font-size: 10em;
      font-size: 12em;
    }
  }
  .hero-subname{
    color: $white;
    @include heading();
    width: 100%;
    clear: both;
    position: relative;
    @include breakpoint('mbl'){
      font-size: 3em;
    }
    @include breakpoint('xsmall'){
      font-size: 3em;
    }
    @include breakpoint('small'){
      font-size: 4em;
    }
    @include breakpoint('medium'){
      font-size: 5em;
    }
    @include breakpoint('large'){
      font-size: 7.5em;
    }
    @include breakpoint('xlarge'){
      font-size: 10em;
      // font-size: 8em;
    }
  }
  .rw-words{
    display: inline;
    text-indent: 10px;
    span{
      -webkit-text-stroke: 0.5px $darkGray;
      // text-shadow: .04em .04em 0 $darkGray;
      position: absolute;
      opacity: 0;
      overflow: hidden;
      width: 100%;
    }
  }
  .rw-words-1{
    span{
      -webkit-animation: rotateWord 18s linear infinite 0s;
      -ms-animation: rotateWord 18s linear infinite 0s;
      animation: rotateWord 18s linear infinite 0s;
    }
  }
  .rw-words span:nth-child(2) {
    -webkit-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
  }
  .rw-words span:nth-child(3) {
    -webkit-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
  }
  .rw-words span:nth-child(4) {
    -webkit-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s;
  }
  .rw-words span:nth-child(5) {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
  }
  .rw-words span:nth-child(6) {
    -webkit-animation-delay: 15s;
    -moz-animation-delay: 15s;
    -o-animation-delay: 15s;
    -ms-animation-delay: 15s;
    animation-delay: 15s;
  }
  .down{
    position: absolute;
    text-align: center;
    width: 100%;
    height: auto;
    @include breakpoint('mbl'){
      margin-top: 7em;
    }
    @include breakpoint('xsmall'){
      margin-top: 10em;
    }
    @include breakpoint('large'){
      margin-top: 13em;
    }
    .material-symbols-outlined{
      font-size: 75px;
      color: $vermillion;
      @include transOnly(250ms,ease-in-out);
      &:hover{
        -webkit-animation-name: bounce;
        animation-name: bounce;
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-animation-duration: .75s;
        animation-duration: .75s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        // color: $sunshine;
      }
    }
  }
}

/***************ABOUT**************  */
#about {
  background: $white;
  color: $darkGray;
  .holder {
  	padding: 80px 0;
    @include breakpoint('mbl'){
      font-size: 18px;
    }
    @include breakpoint('xsmall'){
      font-size: 18px;
    }
    @include breakpoint('small'){
      font-size: 20px;
    }
    .title{
      @include breakpoint('mbl'){
        width: calc(100% - 0px);
      }
      @include breakpoint('xsmall'){
        width: calc(100% - 0px);
      }
      @include breakpoint('small'){
        width: calc(90% - 100px);
      }
      @include breakpoint('medium'){
        width: calc(65% - 100px);
      }
      // @include breakpoint('large'){
      //   width: calc(35% - 100px);
      // }
      @include breakpoint('xlarge'){
        width: calc(35% - 100px);
      }
    }
    .tabs-container{
      position: relative;
      .tabs-menu{
        display: inline-block;
      	width: 100%;
      	text-align: center;
        @include breakpoint('mbl'){
          padding-left: 0;
          margin-bottom: 0;
        }
        @include breakpoint('xsmall'){
          padding-left: 0;
          margin-bottom: 0;
        }
        @include breakpoint('medium'){
          padding-left: 2rem;
          margin-bottom: 35px;
        }
        li{
        	position: relative;
        	display: inline-block;
        	padding: 0 0 0px;
        	text-transform: uppercase;
        	text-align: center;
          @include breakpoint('mbl'){
            font-size: 18px;
            margin: 0 3px;
          }
          @include breakpoint('xsmall'){
            font-size: 18px;
            margin: 0 3px;
          }
          @include breakpoint('small'){
            font-size: 25px;
            margin: 0 10px;
          }
          @include breakpoint('medium'){
            margin: 0 20px;
          }
          &:hover{
            &:after{
              width: 100%;
            }
          }
          &:after{
            position: absolute;
          	content: '';
          	height: 4px;
          	background: $sunshine;
          	width: 0;
          	-moz-transition: width 0.5s;
          	-o-transition: width 0.5s;
          	-webkit-transition: width 0.5s;
          	transition: width 0.5s;
          	margin: 0 auto;
          	clear: both;
          	bottom: 0;
          	left: 0;
          	right: 0;
          }
          &.current{
            a{
            	color: $black;
            }
            &:after{
              text-align: center;
            	position: absolute;
            	content: '';
            	height: 4px;
            	background: $sunshine;
            	width: 100%;
            	-moz-transition: width 0.5s;
            	-o-transition: width 0.5s;
            	-webkit-transition: width 0.5s;
            	transition: width 0.5s;
            	margin: 0 auto;
            	clear: both;
            	bottom: 0;
            	left: 0;
            	right: 0;
            }
          }
          a{
            text-align: center;
          	text-transform: uppercase;
          	color: #000;
          	text-decoration: none;
          	// font-family: "Audrey-Normal", monospace;
          }
        }
      }
    }
    .tab{
    	width: 100%;
      @include breakpoint('mbl'){
        padding: 0 20px;
      }
      @include breakpoint('xsmall'){
        padding: 0 20px;
      }
      @include breakpoint('medium'){
        padding: 0;
      }
      .tab-content{
        .row{
          // education
          // padding: 0 0 40px 0;
          // experience
          // margin-top: 50px;
        	// padding: 0 0 20px 0;
          // skills
          margin-top: 25px;
        	padding: 0 0 20px 0;
          overflow: hidden;
        }
      }
    }
    #bio{
      text-align: center;
    	line-height: 24px;
    	display: block;
      max-width: 1000px;
      margin: 0 auto;
      p{
        margin-top: 30px;
      	padding: 0 0 16px 0;
        @include breakpoint('mbl'){
          font-size: 18px;
          line-height: 24px;
        }
        @include breakpoint('xsmall'){
          font-size: 18px;
          line-height: 24px;
        }
        @include breakpoint('small'){
          font-size: 24px;
          line-height: 30px;
        }

      }
      .links{
        a + a{
          @include breakpoint('mbl'){
            margin: 15px 20px;
          }
          @include breakpoint('xsmall'){
            margin: 15px 20px;
          }
          @include breakpoint('medium'){
            margin: 0 0 0 15px;
          }
        }
        a{
          @include transOnly(250ms,ease-in-out);
          &:hover{
            i{
              color: $fresh;
            }
          }
          i{
            @include transOnly(250ms,ease-in-out);
            // filter: progid:DXImageTransform .Microsoft .Alpha(enabled=false);
            opacity: 1;
            font-size: 18px;
            cursor: pointer;
            margin: 0 8px 0 0;
          }
        }
      }
    }
    #education{
      display: none;
      .row{
      	overflow: visible;
        img{
          // padding-left: 190px;
          width: 100%;
          height: auto;
          max-width: 33.33%;
        }
        .school{
          padding-bottom: 20px;
          span{
            display: block;
          }
          .name{
            @include heading();
          	font-size: 30px;
          	color: $fresh;
          	line-height: 35px;
            text-align: left;
            .city{
              color:#000;
            }
          }
          .position{
            @include paragraph();
          	line-height: 30px;
          	font-size: 24px;
          	padding: 10px 0 0 0;
          	text-align: left;
          }
        }
      }
      li{
        text-align: left;
      }
    }
    #experience{
      display: none;
      .row{
        .job{
          margin-bottom: 1em;
          .title{
            width: 100%;
            color: $gray;
            @include heading();
            font-size: 3em;
            // -webkit-text-stroke: 1px $fresh;
            -webkit-text-fill-color: $darkGray;
            text-align: left;
            margin-bottom: 0;
            &:after{
              background: $fresh;
            }
            .outline-text{
              -webkit-text-stroke: 1px $darkGray;
              -webkit-text-fill-color: transparent;
            }
          }
          .companyHeading{
            @include heading(700);

            letter-spacing: -1px;
          	color: $fresh;
            text-align: left;
            // margin-bottom: 0;
            // -webkit-text-fill-color: $darkGray;
            @include breakpoint('mbl'){
              font-size: 28px;
              line-height:  28px;
            }
            @include breakpoint('xsmall'){
              font-size: 28px;
              line-height:  28px;
            }
            @include breakpoint('medium'){
              font-size: 40px;
              line-height:  40px;
            }

          }
          .containerHeading{
            // @include paragraph();
            // -webkit-text-stroke: 1px $darkGray;
            // -webkit-text-fill-color: $darkGray;
            font-weight: 300;
            letter-spacing: -1px;

          	width: 120%;
          	overflow: hidden;
            text-align: left;
            margin-bottom: 0.5em;
            @include breakpoint('mbl'){
              font-size: 20px;
              line-height: 28px;
            }
            @include breakpoint('xsmall'){
              font-size: 20px;
              line-height: 28px;
            }
            @include breakpoint('medium'){
              font-size: calc(1.325rem + .9vw);
              line-height: 40px;
            }
          }
          ul{
            @include breakpoint('mbl'){
              padding-left: 0;
            }
            @include breakpoint('xsmall'){
              padding-left: 0;
            }
            @include breakpoint('medium'){
              padding-left: 2rem;
            }
            li{
              list-style: disc;
            	margin-left: 35px;
            	line-height: 24px;
            	@include paragraph();
              text-align: left;
              padding-bottom: 5px;
              @include breakpoint('mbl'){
                font-size: 16px;
              }
              @include breakpoint('xsmall'){
                font-size: 16px;
              }
              @include breakpoint('medium'){
                font-size: 18px;
              }
            }
          }
        }
      }
    }
    #skills{
      display: none;
      .row{
        &.muted{
          color: #777;
        	font-size: 40px;
        }
        & + .row{
          padding: 10px 0;
        }
        .col-md-12{
          // h2{
          //   @include breakpoint('xsmall'){
          //     font-size: 24px;
          //   }
          //   @include breakpoint('medium'){
          //     font-size: calc(1.325rem + .9vw);
          //   }
          //
          // }
          .skillsHeading{
            // font-size: 30px;
            color: $darkGray;
            @include heading();
          }
          ul.skillsGrid{
            margin: 0;
          	padding: 0;
          	list-style: none;
          	display: block;
          	text-align: left;
          	// width: 100%;
            &:before{
              content: '';
            	display: grid;
            }
            &:after{
              content: '';
            	display: grid;
              clear: both;
            }
            li{
            	height: 50px;
            	display: inline-block;
            	margin: 5px;
            	// vertical-align: middle;
            	text-align: left;
              @include breakpoint('mbl'){
                margin: 5px;
              }
              @include breakpoint('xsmall'){
                margin: 5px;
                // width: 175px;
              }
              @include breakpoint('medium'){
                margin: 15px 15px 5px 0px;
                width: fit-content;
              }
              &.widerLI{
                width: 300px;
              }
              &.widerLI2{
                width: 275px;
              }
              &.shorterLI{
                width: 100px;
              }
              i{
                display: inline-block;
                width: 40px;
                height: 40px;
                font-size: 35px;
                text-align: center;
                @include transOnly(250ms,ease-in-out);
            		color: $sunshine;
                padding-top: 10px;
                @include breakpoint('mbl'){
                  width: 35px;
                  height: 35px;
                  font-size: 30px;
                }
                @include breakpoint('xsmall'){
                  width: 35px;
                  height: 35px;
                  font-size: 30px;
                }
                @include breakpoint('medium'){
                  width: 40px;
                  height: 40px;
                  font-size: 35px;
                }
                & svg{
                  vertical-align: top;
                }
              }
              span{
                display: inline-block;
                width: 40px;
                height: 40px;
                text-align: center;
                font-size: 35px;
                @include transOnly(250ms,ease-in-out);
            		color: $sunshine;
                padding-top: 10px;
                @include breakpoint('mbl'){
                  width: 35px;
                  height: 35px;
                  font-size: 30px;
                }
                @include breakpoint('xsmall'){
                  width: 35px;
                  height: 35px;
                  font-size: 30px;
                }
                @include breakpoint('medium'){
                  width: 40px;
                  height: 40px;
                  font-size: 35px;
                }
              }
              .montserrat{
                @include montserrat(700);
              }
              h4{
                margin-left: 15px;
                margin-top: -14px;
              	display: inline-block;
              	font-size: 20px;
              	@include paragraph();
              	color: $black;
              	text-align: left;
              	vertical-align: middle;
              	@include transOnly(250ms,ease-in-out);
                width: 213px;
                // @include breakpoint('xsmall'){
                //   // margin: 5px;
                //   width: 175px;
                // }
                // @include breakpoint('medium'){
                //   // margin: 15px 15px 5px 0px;
                //
                // }
              }
            }
          }
        }
      }
    }
  }
}

/***************Skills Icon***************/
#skillsIcons {
  background: $fresh;
	padding: 80px 0 210px 0;
	width: 100%;
	text-align: center;
	position: relative;
	color: $darkGray;
  .container{
    .holder{
      .title{
        padding: 0 0 45px;
        // font-weight: 700;
        // font-size: 4em;
        -webkit-text-stroke: 1px $darkGray;
        // -webkit-text-fill-color: transparent;
        // text-align: left;
        h2{
          color: $darkGray;
        }
      }
      .row{
        .me{
          padding: 25px;
          i{
            font-size: 40px;
          	margin: 10px 0;
          }
          svg{
            width: 125px;
          	height: auto;
          }
          h3{
            font-size: 20px;
          	margin: 10px 0;
          }
          p{
            font-size: 20px;
          	margin: 10px 0;
          	@include paragraph();
          }
        }
      }
    }
  }
}

.optimism {
  text-align: center;
  cursor: pointer;
  position: relative;
  i {
    position: absolute;
    display: block;
    left: 50%;
    top: 86px;
    margin-bottom: 50px;
    width: 3px;
    height: 5px;
    background: red;
    opacity: 0;
  }
  &:hover {
    @for $i from 1 through 50 {
      i:nth-of-type(#{$i}) {
        transform: translate3d(random(190) - 100 + px,random(50) - 100 + px,0) rotate(random(360) + deg);
        background: hsla(random(360),100%,50%,1);
        animation: bang 700ms ease-out forwards infinite;
        opacity: 0;
      }
    }
  }
}

/***************PORTFOLIO***************/
#portfolio{
  background: $white;
  color: $darkGray;
  .container{
    .title{
      h2{
        -webkit-text-stroke: 1px $darkGray;
      }
    }
    .grid{
      margin-bottom: 40px;
      .grid-item{
        display: inline-flex;
        margin: 10px;
        position: relative;
        @include breakpoint('mbl'){
          width: 330px;
          height: auto;
        }
        @include breakpoint('xsmall'){
          width: 330px;
          height: auto;
        }
        @include breakpoint('small'){
          width: 400px;
          height: 300px;
        }
        img{
          height: auto;
          box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
          @include breakpoint('mbl'){
            width: 330px;
          }
          @include breakpoint('xsmall'){
            width: 330px;
          }
          @include breakpoint('small'){
            width: 400px;
          }
        }
        .project-info{
          width: 100%;
          height: 100%;
          font-size: 1em;
          color: $black;
          background: $vermillion;
          position: absolute;
          opacity: 0;
          @include transOnly(250ms,ease-in-out);
          overflow: hidden;
          @include breakpoint('mbl'){
            padding-top: 60px;
          }
          @include breakpoint('xsmall'){
            padding-top: 60px;
          }
          @include breakpoint('small'){
            padding-top: 80px;
          }
          &:hover {
            opacity: 0.9;
          }
          h2{
            @include heading(900);
          }
          span {
            display: block;
            font-size: 16px;
          }
          .space25 {
            height: 25px;
          }
          .project-btn{
            // -webkit-appearance: none;
            // -moz-appearance: none;
            // appearance: none;
            font-size:18px;
            letter-spacing:2px;
            text-transform:uppercase;
            display:inline-block;
            text-align:center;
            width:270px;
            font-weight:bold;
            padding:14px 0px;
            border-bottom:3px solid $sunshine;
            border-radius:2px;
            position:relative;
            @include paragraph(300);
            // box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
            &:before {
              -webkit-transition:0.5s all ease;
              transition:0.5s all ease;
              position:absolute;
              top:100%;
              left:0%;
              right:0%;
              bottom:0;
              opacity:0;
              content:'';
              background-color:$sunshine;
              z-index:-2;
            }
            &:hover {
              &:before {
                -webkit-transition:0.5s all ease;
                transition:0.5s all ease;
                top:0;
                left:0;
                right:0;
                bottom:0;
                opacity:1;
              }
            }
            &:focus {
              &:before {
                transition:0.5s all ease;
                top:0;
                left:0;
                right:0;
                bottom:0;
                opacity:1;
              }
            }
          }
        }
      }
    }
  }
}

/***************POPUPs***************/

.pop {
  display:none;
  position:fixed;
  background: $white;
  outline:1px solid $black;
  z-index: 999;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  @include breakpoint('mbl'){
    top:5%;
    left:5%;
    width:90%;
    height:90%;
    padding: 25px;
  }
  @include breakpoint('xsmall'){
    top:5%;
    left:5%;
    width:90%;
    height:90%;
    padding: 25px;
  }
  @include breakpoint('small'){
    top:10%;
    left:10%;
    width:80%;
    height:85%;
    padding: 50px;
  }
  &::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $white;
    z-index: -1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  &::after{
    position: fixed;
    content: "";
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
    height: 2000px;
    width: 100%;
    margin-top: -340px;
    margin-bottom: -1000px;
    background: $black;
    opacity: 0.7;
  }
  .closeX {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    float: right;
    background: transparent;
    border: none;
    &:hover {
      &::before, &::after {
        background: $sunshine;
        text-shadow: 1px 1px 1px $black;
        @include transOnly(250ms,ease-in-out);
      }
    }
    &::before, &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background: $fresh;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
    &.big {
      transform: scale(3);
    }
    &.hairline {
      &::before, &::after {
        height: 2px;
      }
    }
  }
  .title{
    h2{
      color: $gray;
      @include heading();
      // -webkit-text-fill-color: $darkGray;
      -webkit-text-stroke: 1px $darkGray;
      -webkit-text-fill-color: transparent;
      text-align: left;
      @include breakpoint('mbl'){
        font-size: 3em;
      }
      @include breakpoint('xsmall'){
        font-size: 3em;
      }
      @include breakpoint('small'){
        font-size: 4em;
      }
      .outline-text{
        -webkit-text-stroke: 1px $darkGray;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  .tech{
    color: $gray;
    @include heading();

    margin: 10px 0 15px;
    -webkit-text-fill-color: $darkGray;
    @include breakpoint('mbl'){
      font-size: 24px;
    }
    @include breakpoint('xsmall'){
      font-size: 24px;
    }
    @include breakpoint('small'){
      font-size: 2em;
    }
    .outline-text{
      -webkit-text-stroke: 1px $darkGray;
      -webkit-text-fill-color: transparent;
    }
  }
  .description{
    p{
      text-align: center;
      @include breakpoint('mbl'){}
      @include breakpoint('xsmall'){
        font-size: 14px;
      }
      @include breakpoint('small'){
        font-size: 1em;
      }
    }
  }
  .images{
    img{
      width: 400px;
      height: auto;
    }
  }
  .links{
    text-align: center;
    .button {
      @include transOnly(250ms,ease-in-out);
      @include breakpoint('mbl'){
        width: 80%;
        display: block;
        margin: 15px auto;
      }
      @include breakpoint('xsmall'){
        width: 80%;
        display: block;
        margin: 15px auto;
      }
      @include breakpoint('small'){
        width: 270px;
        display:inline-block;
            margin: 15px 5px;
      }
    }
  }
}

/***************CONTACT ME***************/
#contact{
  background: $sunshine;
  // background: $white;
  padding-bottom: 200px;
  .talk-name{
    color: $darkGray;
    @include heading();
    font-size: 18em;
    -webkit-text-stroke: 2px $darkGray;
    -webkit-text-fill-color: $darkGray;
    margin-top: 1em;
    line-height: 1em;
    text-align: center;
    @include breakpoint('mbl'){
      font-size: 8em;
    }
    @include breakpoint('xsmall'){
      font-size: 8em;
    }
    @include breakpoint('medium'){
      font-size: 14em;
    }
    @include breakpoint('large'){
      font-size: 18em;
    }
    .outline-text{
      -webkit-text-stroke: 1px $darkGray;
      -webkit-text-fill-color: transparent;
    }
  }
  .container,
  .container-fluid{
    .title{
      h2{
        // -webkit-text-stroke: 1px $sunshine;
        color: $darkGray;
        @include heading();
        font-size: 18em;
        -webkit-text-stroke: 2px $darkGray;
        -webkit-text-fill-color: $darkGray;
        margin-top: 1em;
        line-height: 1em;
        text-align: center;
        .outline-text{
          -webkit-text-stroke: 1px $darkGray;
          -webkit-text-fill-color: transparent;
        }
      }

    }
    p{
      text-align: center;
    }
  }
}
