.navbar{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 900;
  background: $fresh;
  @include transOnly(250ms, ease-in-out);
  .navbar-brand{}
  #navbarNav{
    .nav{
      .nav-item{
        padding: 0 20px;
        .nav-link{
          font-size: 1.5em;
          position: relative;
          color: $darkGray;
          padding-left: 0;
          padding-right: 0;
          &:hover{
            color: $black;
            &::after{
              transform: scaleX(1);
              transform-origin: bottom;
            }
          }
          &.active{
            color: $black;
            &::after{
              transform: scaleX(1);
              transform-origin: bottom;
            }
          }
        }
      }
    }
  }
}

.sunshine .nav-link::after {
  background: $vermillion;
}
.nav-link::after {
    bottom: 24%;
    z-index: -1;
    display: block;
    height: 8px;
    content: '';
    position: absolute;
    left: 0px;
    width: 100%;
    background: $sunshine;
    display: block;
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}

.nav-link:hover::after {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}

#menu {
  background: $vermillion;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 0;
  transition: all 0.7s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 1100;

  &.open {
    opacity: 1;
    visibility: visible;

    @for $i from 1 through 10 {
      li:nth-child(#{$i}) {
        animation-delay: $i*0.1s;
      }
    }
    li {
      animation-duration: 1.0s;
      animation-fill-mode: both;
      animation-name: fadeInUp;
    }
  }
  ul {
    &:hover {
      a {
        opacity: 0.5;
      }
    }

    a {
      -webkit-transform: translateZ(0);
      transition: opacity 0.3s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }

  .mobile-nav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      color: $white;
      display: block;
      font-size: 2.5rem;
      font-weight: bold;
      padding: 1rem 1rem;
      text-decoration: none;
      text-transform: uppercase;
      &:first {
        padding-top: 0;
      }
    }
  }
}


// Hamburger menu toggler stuff below
.toggle-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  float: right;
  height: 50px;
  outline: none;
  padding: 0;
  pointer-events: initial;
  position: relative;
  vertical-align: middle;
  width: 50px;
  z-index: 1110;

  span {
    background-color: $white;
    content: "";
    display: block;
    height: 2px;
    left: calc(50% - 13px );
    position: absolute;
    top: calc(50% - 1px );
    transform-origin: 50% 50%;
    transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  transform 0.2s linear;
    // width: 26px;
    width: 35px;

    &:before, &:after {
      background-color: $white;
      content: "";
      display: block;
      height: 2px;
      position: absolute;
      transform-origin: 50% 50%;
      transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  transform 0.2s linear;
      // width: 26px;
      width: 35px;
    }
    &:before {
      top: 10px;
    }
    &:after {
      top: -10px;
    }
  }

  &.active {
    span {
      background-color: transparent;
      transition: background 0.2s ease-out;
      &:before, &:after {
        transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
      }
      &:before {
        top: 0;
        transform: rotate3d(0, 0, 1, -45deg);
      }
      &:after {
        top: 0;
        transform: rotate3d(0, 0, 1, 45deg);
      }
    }
  }
}
