.navbar{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 900;
  background: $fresh;
  @include transOnly(250ms, ease-in-out);
  .navbar-brand{}
  #navbarNav{
    .nav{
      .nav-item{
        padding: 0 20px;
        .nav-link{
          font-size: 1.5em;
          position: relative;
          color: $darkGray;
          padding-left: 0;
          padding-right: 0;
          &:hover{
            color: $black;
            &::after{
              transform: scaleX(1);
              transform-origin: bottom;
            }
          }
          &.active{
            color: $black;
            &::after{
              transform: scaleX(1);
              transform-origin: bottom;
            }
          }
        }
      }
    }
  }
}

.sunshine .nav-link::after {
  background: $vermillion;
}
.nav-link::after {
    bottom: 24%;
    z-index: -1;
    display: block;
    height: 8px;
    content: '';
    position: absolute;
    left: 0px;
    width: 100%;
    background: $sunshine;
    display: block;
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}

.nav-link:hover::after {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}


// Hamburger Button

button.hamburger {
    padding: 15px 15px;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;

    // Hide/Display rules
    display: none; // Hide Desktop
    @media only screen and (max-width: 767px){
        display: inline-block !important; // Show only on mobile
    }

    &:hover,
    &.is-active:hover {
        background: none;
    }

    &.is-active .hamburger-inner,
    &.is-active .hamburger-inner::before,
    &.is-active .hamburger-inner::after {
        background-color: none;
    }

    .hamburger-box {
        width: 40px;
        height: 24px;
        display: inline-block;
        position: relative;
    }

    .hamburger-text {
        display: block;
        text-align: center;
        color: $white;
        text-transform: uppercase;
        font-weight: bold;
    }

}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;

    &,
    &::before,
    &::after {
        width: 40px;
        height: 4px;
        background-color: $white;
        border-radius: 2px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }

    &::before,
    &::after {
        content: "";
        display: block;
    }

    &::before {
        top: -10px;
    }

    &::after {
        bottom: -10px;
    }

    .hamburger--spin & {
        transition-duration: 0.22s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .hamburger--spin &::before {
        transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    }

    .hamburger--spin &::after {
        transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .hamburger--spin.is-active & {
        transform: rotate(225deg);
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .hamburger--spin.is-active &::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
    }

    .hamburger--spin.is-active &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

}
