/* Colors */

$white			: #FFFFFF;
$offwhite		: #f3f3f3;
$gray			  : #dfdce3;
$gray2      : #adacaf;
$black			: #000000;

$seaGreen		: #007e9c;
$seaBlue		: #0089b1;
$royalBlue	: #435ece;
$blue			  : #435ece;
$orange			: #ff9800;

$green 			: #34959e;
$teal 			: #1c767e;


$salmon			: #f98568;
$red 			  : #ff2b00;

$fresh      : #4abdac;
$vermillion : #fc4a1a;
$sunshine   : #f7b733;
$clean      : #dfdce3;

$darkGray   : #353535;
